<div class = "wizard">
  <div class = "wizard-header">

    <ng-container *ngFor = "let section of sections; let i=index; let isLast=last">

      <div class = "wizard-item" [class.filled] = "isFilled(i)">
        <i class = "wizard-item-icon" [ngClass] = "section.icon"></i>

        <div class = "wizard-item-label">{{section.label}}</div>
      </div>

      <i *ngIf = "!isLast" class = "wizard-item-arrow fas fa-chevron-right" [class.filled] = "isFilled(i)"></i>
    </ng-container>

  </div>
  <div class = "wizard-body">

    <h3>{{ getTitle() }}</h3>

    <app-project *ngIf = "isProject()"></app-project>
    <app-settings *ngIf = "isSettings()"></app-settings>
    <app-delivery *ngIf = "isDelivery()"></app-delivery>
    <app-review *ngIf = "isReview()"></app-review>

  </div>
</div>
