<form [formGroup] = "projectForm" (ngSubmit) = "next()">
  <div class = "form-input-container">
    <label>Project Name</label>

    <div class = "form-input">
      <input type = "text" placeholder="Loop CRM" formControlName = "projectName" >

      <div *ngIf = "projectName.dirty && projectName.hasError('required')" class = "error">
        The project name is required
      </div>
    </div>
  </div>

  <div class = "form-input-container">
    <label>Project Owner</label>

    <div class = "form-input">
      <input type = "text" placeholder="Krox" formControlName = "projectOwner">

      <div *ngIf = "projectOwner.dirty && projectOwner.hasError('required')" class = "error">
        The project owner is required
      </div>
    </div>
  </div>

  <div class = "form-input-container">
    <label>Customer Name</label>

    <div class = "form-input">
      <input type = "text" placeholder="Loop Inc." formControlName = "customerName">

      <div *ngIf = "customerName.dirty && customerName.hasError('required')" class = "error">
        The customer name is required
      </div>

      <div class = "hint">
        If you want your invoices addressed to a company, leave blank to use your full name.
      </div>
    </div>
  </div>

  <div class = "form-input-container">
    <label>Contact Phone</label>

    <div class = "form-input">
      <div class="input-container">
        <div class="input-icon input-icon-left">
          <img src="assets/phone.svg">
        </div>
        <input type = "text" placeholder="+45678967456" formControlName = "contactPhone">
      </div>

      <div *ngIf = "contactPhone.dirty && contactPhone.hasError('required')" class = "error">
        The contact phone is required
      </div>

      <div *ngIf = "contactPhone.dirty && !contactPhone.hasError('required') && contactPhone.hasError('pattern')"
           class = "error">
        The contact phone is not valid
      </div>

      <div class = "hint">
        If you want your invoices addressed to a company, leave blank to use your full name.
      </div>
    </div>
  </div>

  <div class = "form-input-container">
    <label>Email Address</label>

    <div class = "form-input">
      <div class="input-container">
        <div class="input-icon input-icon-left">
          <img src="assets/at.svg">
        </div>
        <input type = "text" placeholder="anna.krox@loop.com" formControlName = "email">
      </div>

      <div *ngIf = "email.dirty && email.hasError('required')" class = "error">
        The email address is required
      </div>

      <div *ngIf = "email.dirty && !email.hasError('required') && email.hasError('email')"
           class = "error">
        The email address is not valid
      </div>
    </div>
  </div>


  <div class = "form-input-container">
    <label>Company Site</label>

    <div class = "form-input">

      <div class="input-container">
        <input type = "text" placeholder="loop" formControlName = "companySite">
        <div class="input-icon input-icon-right">.com</div>
      </div>

      <div *ngIf = "companySite.dirty && companySite.hasError('required')" class = "error">
        The company site is required
      </div>

      <div *ngIf = "companySite.dirty && !companySite.hasError('required') && companySite.hasError('pattern')"
           class = "error">
        The contact site is not valid
      </div>

    </div>
  </div>

</form>

<div class = "wizard-footer">
  <button mat-flat-button color = "primary" class = "right" (click) = "next()">Next Step</button>
</div>
